$susy: (
	columns: 12,
	gutters: 1/3,
	math: fluid,
	output: float,
	gutter-position: split,
);

.wrapper {
	@include container(90%);
	@include breakpoint(mama-bear) {
		@include full-container;
	}
}

.site-header {
	.container {
		@include clear; 
	}

	.logo {
		@include breakpoint(mama-bear) {
			@include span(3);
		}

		@include breakpoint(papa-bear) {
			@include span(4);
		}
	}

	.header-nav {
		@include span(12);
		
		@include breakpoint(mama-bear) {
			@include span(9);
		}

		@include breakpoint(papa-bear) {
			@include span(8);
		}

		.container {
			// @include container(90%);
			@include breakpoint(max-mama-bear) {
				@include full-container;
			}
		}
	}

	.banner-text {
		h1 {
			@include breakpoint(baby-bear) {
				@include narrow-container;
			}
		}
		
	}
}

.teaser {
	@include breakpoint(baby-bear) {
		 @include clearfix;
		 @include full-container;
	}

	.teaser-img {
		@include breakpoint(baby-bear) {
			@include span(6);
		}
	}
	.teaser-text-container {
		@include container(90%);
		
		@include breakpoint(baby-bear) {
			@include container(100%);
			@include span(6);
		}
	}

	&:nth-child(even) {
		.teaser-img {
			@include breakpoint(baby-bear) {
				@include span(last 6);
			}
		}
	}
}

.site-footer {
	.nav-items {
		@include breakpoint(mama-bear) {
			@include span(9);
		}
	}
	
	.copy-right {
		@include breakpoint(mama-bear) {
			@include span(3 last);
		}
	}
}