/*
 * Site header
 */

.home .site-header {
	@include header-bg(home);
	  // background: url(../img/banner-home.jpg) no-repeat center center fixed; 
	  // -webkit-background-size: cover;
	  // -moz-background-size: cover;
	  // -o-background-size: cover;
	  // background-size: cover;
}

.site-header {
	
	height: 480px;
	
	.logo {
		display: block;
		margin-top: 20px;
		
		.mobile-logo {
			display: block;
			margin: 0 auto;
		}

		.desktop-logo {
			display: none;
		}
	}

	.header-nav {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 1000;
		
		.menu-icon {
			display: block;
			width: 100%;
			height: 30px;
			margin-top: 20px;
			text-align: right;
			
			.icon-nav-close {
				display: none;
			}
		}

		.menu-items {
			display: none;
			margin: 0;
			padding: 0;
			list-style-type: none;
			text-align: center;

				a {
					display: block;
					padding: 30px 0;
				}
		}

		&.nav-open {
			position: fixed;
			height: 100%;
		
			background: $white;
			background-image: url("../img/img-bg-home-mobile.jpg"); /* fallback */
			background-image: url("../img/img-bg-home-mobile.jpg"), linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 33%,rgba(255,255,255,0) 66%,rgba(255,255,255,1) 100%); /* W3C */
			@include bg-cover;

			// /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+33,0+66,0+100,1+100 */
			// background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 33%, rgba(255,255,255,0) 66%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
			// background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 33%,rgba(255,255,255,0) 66%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
			// background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 33%,rgba(255,255,255,0) 66%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
			
			.nav-icon {
				.icon-nav {
					display: none;
				}

				.icon-nav-close {
					display: block;
				}
			}

			.menu-items {
				display: block;
			}

		}
	}

	.banner-text {
		height: 279px;
		
		h1 {
			@extend %vertical-align;
		}
	}

	@include breakpoint(baby-bear) {
		.mobile-logo {
			display: none;
		}

		.desktopn-logo {
			display: block;
		}

		.menu-icon {
			display: none;
		}
	//     position: absolute;
	//     top: 9px;
	//     right: $spacing-unit / 2;
	//     background-color: $white;
	//     border: 1px solid $grey;
	//     border-radius: 5px;
	//     text-align: right;

	//     .menu-icon {
	//         display: block;
	//         float: right;
	//         width: 36px;
	//         height: 26px;
	//         line-height: 0;
	//         padding-top: 10px;
	//         text-align: center;

	//         > svg {
	//             width: 18px;
	//             height: 15px;

	//             path {
	//                 fill: $grey;
	//             }
	//         }
	//     }

	//     .trigger {
	//         clear: both;
	//         display: none;
	//     }

	//     &:hover .trigger {
	//         display: block;
	//         padding-bottom: 5px;
	//     }

	//     .page-link {
	//         display: block;
	//         padding: 5px 10px;

	//         &:not(:last-child) {
	//             margin-right: 0;
	//         }
	//         margin-left: 20px;
	//     }
	}
}
