.teaser {

	.teaser-img {
		
		img {
			margin: 0 auto;

			@include breakpoint(baby-bear) {
				margin: 40px 0;
			}
		}
	}
	
	.teaser-text {
		padding: 40px 0;
		
		@include breakpoint(baby-bear) {
			@include vertical-align;
			padding: 0;
		}
	}
}
