<header class="site-header">

  <div class="wrapper">

    <a class="logo" href="{{ site.baseurl }}/">
    	<img class="mobile-logo" src="{{ site.baseurl }}/assets/img/logo-mobile.svg" alt="Hooked-Up Charters logo.">
    	<img class="desktop-logo" src="{{ site.baseurl }}/assets/img/logo.svg" alt="Hooked-Up Charters logo.">
    </a>

    <nav class="header-nav">
      <a href="#" class="menu-icon">
        <img src="{{ site.baseurl }}/assets/img/icon-nav.svg" alt="Navigation icon.">
      </a>

      <ul class="menu-items">
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <li><a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>

  </div>

</header>
