---
layout: default
---

<div class="wrapper">
	{% include social.html %}

	<div class="page-intro">
		<h2>{{ page.page-intro }}</h2>

		<h1 class="call-to-action"><a href="{{ page.call-to-action-url }}">{{ page.call-to-action-text }}</a></h1>
	</div>
</div>

{% for teaser in page.teaser %}
<div class="teaser"> 
	<img src="{{ base }}/assets/img/{{ teaser.image }}" alt="{{ teaser.image-alt }}">
	<div class="teaser-text">
		<h3>{{ teaser.title }}</h3>
		<p>{{ teaser.description }}</p>
		<a href="{{ teaser.call-to-action-url }}">{{ teaser.call-to-action }}</a>
	</div>
</div>
{% endfor %}